tmp
**/old
**/bin

**/*.class  # Java / Scala
**/target   # sbt
target/     # sbt

*.swp       # vim
*~          # emacs
.idea       # IntelliJ

# Latex
**/*.aux
**/*.log
**/*.nav
**/*.out
**/*.snm
**/*.vrb
**/*.synctex.gz
**/*.synctex.gz(busy)
**/*.toc
